.background {
	background-color: #FFFFFF;
}

* {
	margin: 0; 
	padding: 0;
}

.menu {
	background-color: #4800ff; 
	font-family: open sans;
	height: 50px;
	width: 100%;
	font-size: 14px;
	position: fixed;
	display: flex;
	justify-content: center;
}
 
.logo {
	float: left;
	margin-left: -42px;
}

.menu ul {
	list-style: none;
	display: flex;
	float: left;
}

.menu ul li {
	padding: 25px 20px;
}

.menu ul li a {
	width: 6.8%; 
	height: 27px;
	text-align: center;
	text-decoration: none; 
	color: #FFFFFF;
}

.menu ul li.hover:hover {
	background-color: #47a0ff;
	display: block;
	cursor: pointer;
}

.menu li:hover a {
	text-align: center;
	color: #ffffff;
}

.searchImg {
	margin-left: -10px;
}

.cari {
	margin-top: 4px;
	border: none;
	border-radius: 2px;
	border: none;
	height: 20px;
	width: 120px;
	padding-left: 8px;
	margin-left: 32px;
	outline: none;
}

.popup {
	position: fixed;
	cursor: pointer;
	font-family: open sans;
	font-size: 0.8em;
}

.popup span {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 1088px;
	margin-top: 25px;
}

.popup ul {
	position: absolute;
	background: #ffffff;
	min-width: 148px;
	padding-top: 10px
	padding-right: 18px;
	padding-left: 18px;
	border-radius: 15px;
	opacity: 0;
	visibility: hidden;
	margin-left: 950px;
	margin-top: 50px;
	padding-bottom: 25px;
	box-shadow: 1px 2px 5px 3px rgba(169, 169, 169, 0.8);
}

.popup.active ul {
	opacity: 1;
	visibility: visible;
}

.popup ul li {
	list-style: none;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 3px;
}

.popup ul li:hover {
	font-weight: 600;
}

.popup ul li:nth-last-child(3) {
	border-bottom: 1.5px solid rgba(0,0,0,0.5);
	margin-right: 10px;
}

.popup ul li:first-child {
	border-bottom: 1.5px solid rgba(0,0,0,0.5);
	margin-right: 10px;
}

.popup ul li img {
	margin-right: 3px;
}

.linkPage {color: #000000;}
a.linkPage:hover {color: #000000;}

.table1 {
	width: 100%;
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
}

.kotak {
	height: auto;
	display: inline-block;
	border: 1px #E9EBEE;
	width: 64.6%;
	background-color: white;
	box-shadow: 0 5px 5px 8px rgba(233, 235, 238, 0.8);
}

a {
	text-decoration: none;
	cursor: pointer;
}
.tableEven {
	background: linear-gradient(to bottom, #8cdda8 0%, #ffaea3 100%) no-repeat 50% 0;
	background-size: cover;
	width: 100%;
}

.firra-slider {
	position: relative; 
	overflow: hidden; 
	background: linear-gradient(to bottom, #8cdda8 0%, #ffaea3 100%) no-repeat 50% 0;
	margin-top: 20px;
	width: 760px;
	height: 380px; 
}
 
.dot {
    height: 13px;
    width: 13px;
    margin-top: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.gambarEven {
	width: 760px;
	height: 380px;
	float: left;
}
 
.isi-slider { 
	position: absolute; 
	width: 3900px;
 
	/*pengaturan durasi lama tampil gambar bisa di atur di bawah ini*/
	animation-name:slider;
	animation-duration:16s;
	animation-timing-function: ease-in-out;
	animation-iteration-count:infinite;
	-webkit-animation-name:slider;
	-webkit-animation-duration:16s;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count:infinite;
	-moz-animation-name:slider;
	-moz-animation-duration:16s;
	-moz-animation-timing-function: ease-in-out;
	-moz-animation-iteration-count:infinite;
	-o-animation-name:slider;
	-o-animation-duration:16s;
	-o-animation-timing-function: ease-in-out;
	-o-animation-iteration-count:infinite;
}
 
 
/*saat gambar di hover oleh cursor mouse maka berhenti slide*/
.isi-slider:hover { 
	-webkit-animation-play-state:paused; 
	-moz-animation-play-state:paused; 
	-o-animation-play-state:paused; 
	animation-play-state:paused; }
}
 
.firra-slider:after {
	position: absolute; 
	z-index: 12; 
	left: 500px; 
	top: 80px; 
	-webkit-transition: 1s all ease-in-out; 
	-moz-transition: 1s all ease-in-out; 
	transition: 1s all ease-in-out; 
}

@-moz-keyframes slider {     
	0% {
		left: 0; opacity: 0; 
	}     
	2% {
		opacity: 1; 
	}     
	20% {
		left: 0; opacity: 1; 
	}     
	21% {
		opacity: 0; 
	}     
	24% {
		opacity: 0; 
	}     
	25% {
		left: -660px; opacity: 1; 
	}       
	45% {
		left: -660px; opacity: 1; 
	}     
	46% {
		opacity: 0; 
	}     
	48% {
		opacity: 0; 
	}     
	50% {
		left: -1536px; opacity: 1; 
	}     
	70% {
		left: -1536px; opacity: 1; 
	}     
	72% {
		opacity: 0; 
	}     
	74% {
		opacity: 0; 
	}    
	75% {
		left: -2304px; opacity: 1; 
	}   	
	95% {
		left: -2304px; opacity: 1; 
	}   	
	97% { 
		left: -2304px; opacity: 0;
	}   	
	100% {
		left: 0; opacity: 0; 
	}
} 
 
@-webkit-keyframes slider {     
	0% {
		left: 0; opacity: 0; 
	}     
	2% {
		opacity: 1; 
	}     
	20% {
		left: 0; opacity: 1; 
	}     
	21% {
		opacity: 0; 
	}     
	24% {
		opacity: 0; 
	}     
	25% {
		left: -660px; opacity: 1; 
	}       
	45% {
		left: -660px; opacity: 1; 
	}     
	46% {
		opacity: 0; 
	}     
	48% {
		opacity: 0; 
	}     
	50% {
		left: -1536px; opacity: 1; 
	}     
	70% {
		left: -1536px; opacity: 1; 
	}     
	72% {
		opacity: 0; 
	}     
	74% {
		opacity: 0; 
	}    
	75% {
		left: -2304px; opacity: 1; 
	}   	
	95% {
		left: -2304px; opacity: 1; 
	}   	
	97% { 
		left: -2304px; opacity: 0;
	}   	
	100% {
		left: 0; opacity: 0; 
	}
} 
 
 
@keyframes slider {     
	0% {
		left: 0; opacity: 0; 
	}     
	2% {
		opacity: 1; 
	}     
	20% {
		left: 0; opacity: 1; 
	}     
	21% {
		opacity: 0; 
	}     
	24% {
		opacity: 0; 
	}     
	25% {
		left: -768px; opacity: 1; 
	}     
	45% {
		left: -768px; opacity: 1; 
	}     
	46% {
		opacity: 0; 
	}     
	48% {
		opacity: 0; 
	}     
	50% {
		left: -1536px; opacity: 1; 
	}     
	70% {
		left: -1536px; opacity: 1; 
	}     
	72% {
		opacity: 0; 
	}     
	74% {
		opacity: 0; 
	}    
	75% {
		left: -2304px; opacity: 1; 
	}   	
	95% {
		left: -2304px; opacity: 1; 
	}   	
	97% { 
		left: -2304px; opacity: 0; 
	} 
 
	100% {
		left: 0; opacity: 0; 
	}
}

.tableRekomendasi {
	border: none;
	width: 100%;
	align-content: center;
}

.tdRekom {
	border: none;
	padding-top: 1%;
	padding-left: 2.1%;
}

.gambarRekom {
	width: 100px;
	height: 140px;
}

.jenisBukuRekom {
	font-size: 0.85em;
	font-weight: bold;
	color: gray;
	padding-left: 17px;
	font-family: Calibri;
	border: none;
	padding-top: 2px;
}

.judulBukuRekom {
	font-size: 0.9em;
	color: black;
	padding-left: 17px;
	font-family: Calibri;
	border: none;
	padding-top: 2px;
}

.linkBook {color: #000000;}
a.linkBook:hover {color: blue;}

.pengarangBukuRekom {
	font-size: 0.85em;
	color: gray;
	padding-left: 17px;
	font-family: Calibri;
	border: none;
	padding-top: 2px;
	padding-bottom: 5px;
}

.Berdasarkan {
	font-size: 1.25em;
    font-family: Calibri;
}

.pilihUsia {
	display: inline-block;
    vertical-align: top;
    font-size: 18px;
    color: #838383;
    font-family: Calibri;
    border: none;
    outline: none;
    font-weight: bold;
}

.pilihBuku {
	display: inline-block;
    vertical-align: top;
    font-size: 18px;
    color: #838383;
    font-family: Calibri;
    border: none;
    outline: none;
    font-weight: bold;
}

.garisBawah2 {
	border: 0.5px solid #bdbdbd;
}

.garisBawah {
	margin-top: -4px;
	border: 0.5px solid #bdbdbd;
}

.jenisBukuBawah {
	font-size: 16px;
    color: red;
    font-family: Calibri;
    padding-left: 5px;
    font-weight: bold;
}

.judulBukuBerdasarkan {
	font-size: 20px;
    color: black;
    font-family: Calibri;
    padding-left: 5px;
}

.pengarangBukuBawah {
	font-size: 16px;
    color: black;
    font-family: Calibri;
    padding-left: 5px;
    font-weight: bold;
}

.footer {
	width: 100%;
	height: 150px;
	margin-top: 11px;
	background-color: #4800ff; 
}

.footer11 {
	font-size: 16px;
	letter-spacing: 1px;
	font-family: Helvetica;
	color: #ffffff;
	font-weight: bold;
	padding-left: 235px;
}

.footer12 {
	font-size: 16px;
	letter-spacing: 1px;
	font-family: Helvetica;
	color: #ffffff;
	font-weight: bold;
	padding-left: 275px;
}

.footer13 {
	font-size: 16px;
	letter-spacing: 1px;
	font-family: Helvetica;
	color: #ffffff;
	font-weight: bold;
	padding-left: 170px;
}

.footer2 {
	font-size: 11px;
	letter-spacing: 1px;
	font-family: Helvetica;
	color: #ffffff;
	font-weight: bold;
	padding-left: 250px;
}

.footer3 {
	font-size: 11px;
	letter-spacing: 1px;
	font-family: Helvetica;
	color: #ffffff;
	font-weight: bold;
	padding-left: 100px;
}

.footer4 {
	font-size: 11px;
	letter-spacing: 1px;
	font-family: Helvetica;
	color: #ffffff;
	font-weight: bold;
	word-spacing: 49px;
}

.footer5 {
	font-size: 11px;
	letter-spacing: 1px;
	font-family: Helvetica;
	color: #ffffff;
	font-weight: bold;
	padding-left: 193px;
}

.imgfoot {
	margin-top: -110px;
	margin-left: 640px;
}

@media (max-width: 1024px) {
	.gambarEven {
		width: 550px;
		padding-top: 17px;
		height: auto;
	}
	.gambarRekom {
		width: 60px;
		height: 100px;
	}
}

@media (max-width: 768px) {
	.gambarEven {
		width: 300px;
		padding-top: 11px;
		height: auto;
	}
	.gambarRekom {
		width: 50px;
		height: 70px;
	}
	.footer11 {
		font-size: 16px;
		padding-left: 1px;
	}

	.footer12 {
		font-size: 12px;
		padding-left: 155px;
	}

	.footer13 {
		font-size: 12px;
		padding-left: 120px;
	}

	.footer2 {
		font-size: 8px;
		padding-left: 75px;
	}

	.footer3 {
		font-size: 8px;
		padding-left: 25px;
	}

	.footer4 {
		font-size: 8px;
		word-spacing: 35px;
	}

	.footer5 {
		font-size: 8px;
		padding-left: 95px;
	}

	.imgfoot {
		margin-left: 590px;
	}
}
