body {
    background-color: #4800ff;
    font-family: open sans;
    font-size: 24px;
}

.img {
    width: 365px;
    height: 107px;
    margin-top: 177px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    width: 365px;
    height: 107px;
}

.content {
    box-sizing: border-box;
    width: 410px;
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-top: 10px;
    margin: auto;
    border-radius: 20px;
    margin-top: -10px;
    box-shadow: 0px 12px 12px #3D24D3;
}

.content img {
    width: 193px;
    margin: 0px 58px;
    margin-bottom: 10px;
}

p {
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: -30px;
    line-height: 0px;
}

hr {
    border-top: 3px solid black;
    margin-bottom: 30px;

}

.perinputan input {
    font-family: open sans;
    font-size: 22px;
    width: 300px;
    border: none;
    font-weight: bolder;
}

.perinputan p {
    text-align: left;
    margin-bottom: -15px;
}

.TanggalLahir {
    margin-bottom: 20px;
    color: teal;
}

.tombol {
    margin-top: 10px;
}

.tombol button {
    background-color: #9F0B0B;
    border-radius: 10px;
    width: 148px;
    height: 54px;
    font-size: 20px;
    color: white;
    border: 1px solid #707070;
}

.daftar {
    width: 148px;
    height: 54px;
    border-radius: 10px;
    background-color: #0AAC2A;
    font-size: 20px;
    color: white;
    border: 1px solid #707070;
}

@media only screen and (max-width: 1366px) {
    .img {
        width: 300px;
        height: 90px;
        margin-top: 35px;
        margin-left: auto;
        margin-right: auto;
    }

    .logo {
        width: 300px;
        height: 90px;
    }

    .content {
        box-sizing: border-box;
        width: 350px;
        background-color: white;
        padding-left: 30px;
        padding-right: 30px;
    }

    .content img {
        width: 120px;
        margin: 0px 85px;
        margin-bottom: 10px;
    }

    p {
        font-size: 20px;
    }

    .perinputan input {
        margin-top: -10px;
        font-size: 20px;
        width: 285px;
    }

    hr {
        margin-bottom: 15px;
    }

    .perinputan p {
        padding-top: 15px;
    }

    .tombol {
        margin-top: 10px;
    }

    .tombol button {
        width: 141px;
    }

    .daftar {
        width: 141px;
    }
}

@media only screen and (max-width: 480px) {
    .img {
        width: 200px;
        height: 60px;
        margin-top: 20px;
    }

    .logo {
        width: 200px;
        height: 60px;
    }

    .content {
        box-sizing: border-box;
        width: 250px;
        background-color: white;
        padding-left: 15px;
        padding-right: 15px;
    }

    .content img {
        width: 100px;
        margin: 0px 60px;
        margin-bottom: 10px;
    }

    p {
        font-size: 15px;
    }

    .perinputan input {
        margin-top: -10px;
        font-size: 15px;
        width: 215px;
    }

    hr {
        margin-bottom: 8px;
    }

    .perinputan p {
        padding-top: 10px;
    }

    .tombol {
        margin-top: -5px;
    }

    .tombol button {
        width: 100px;
        font-size: 15px;
    }

    .daftar {
        width: 100px;
        font-size: 15px;
    }
}