body {
    background-color: #4800ff;
    font-family: open sans;
    font-size: 24px;
}

img {
    margin-left: 777px;
    margin-top: 177px;
}

.content {
    box-sizing: border-box;
    width: 410px;
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-top: 10px;
    margin: auto;
    border-radius: 20px;
    margin-top: -10px;
    box-shadow: 0px 12px 12px #3D24D3;
}

p {
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: -30px;
    line-height: 0px;
}

hr {
    border-top: 3px solid black;
    margin-bottom: 30px;

}

.perinputan input {
    font-size: 22px;
    width: 300px;
    border: none;
}

label {
    font-size: 19px;
}

label a {
    color: black;
    text-decoration: none;
}

.tombol {
    margin-top: 10px;
}

.tombol button {
    background-color: #0AAC2A;
    border-radius: 10px;
    width: 148px;
    height: 54px;
    font-size: 20px;
    color: white;
    border: 1px solid #707070;
}

.login {
    width: 148px;
    height: 54px;
    border-radius: 10px;
    background-color: #0AAC2A;
    font-size: 20px;
    color: white;
    border: 1px solid #707070;
}