.background {
	background-color: #FFFFFF;
}

* {
	margin: 0; 
	padding: 0;
}

.menu {
	background-color: #4800ff; 
	font-family: open sans;
	height: 50px;
	width: 100%;
	font-size: 14px;
	position: fixed;
	display: flex;
	justify-content: center;
}
 
.logo {
	float: left;
	margin-left: 9px;
}

.menu ul {
	list-style: none;
	display: flex;
	float: left;
}

.menu ul li {
	padding: 25px 20px;
}

.menu ul li a {
	width: 6.8%; 
	height: 27px;
	text-align: center;
	text-decoration: none; 
	color: #FFFFFF;
}

.menu ul li.hover:hover {
	background-color: #47a0ff;
	display: block;
	cursor: pointer;
}

.menu li:hover a {
	text-align: center;
	color: #ffffff;
}

.searchImg {
	margin-left: -10px;
}

.profile {
	margin-top: -18px;
	margin-left: -28px;
}

.cari {
	margin-top: 4px;
	border: none;
	border-radius: 2px;
	border: none;
	height: 20px;
	width: 120px;
	padding-left: 8px;
	margin-left: 32px;
	outline: none;
}

.table1 {
	width: 100%;
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
}

.kotak {
	height: auto;
	display: inline-block;
	opacity: 1;
	border: 1px #E9EBEE;
	width: 64.6%;
	background-color: white;
	box-shadow: 0 5px 5px 8px rgba(233, 235, 238, 0.8);
}

.kotak {
	height: auto;
	display: inline-block;
	opacity: 1;
	border: 1px #E9EBEE;
	width: 64.6%;
	background-color: white;
	box-shadow: 0 5px 5px 8px rgba(233, 235, 238, 0.8);
	padding-bottom: 15px;
}

a {
	text-decoration: none;
	cursor: pointer;
}

.penjelas {
	font-family: Arial;
	font-size: 1.1em;
}

.penjelas2 {
	font-family: Arial;
	font-size: 1.1em;
	font-weight: bold;
}

.spanFavorit {
	font-family: Open sans;
	font-size: 1.2em;
	color: #FFFFFF;
	float: right;
	margin-right: 20px;
	border-radius: 8px;
	background-color: #000000;
}

.linkBook {color: #000000;}
a.linkBook:hover {color: blue;}

.boxBook {
	box-shadow: 0 2px 2px rgba(233, 235, 238, 0.8);
	padding: 10px;
	border: 1px #E9EBEE;
	margin: 0px 20px 8px 20px;
}

.terakhir {
	float: right;
	color: grey;
}

.footer {
	width: 100%;
	height: 150px;
	margin-top: 11px;
	background-color: #4800ff; 
}

.footer11 {
	font-size: 16px;
	letter-spacing: 1px;
	font-family: Helvetica;
	color: #ffffff;
	font-weight: bold;
	padding-left: 235px;
}

.footer12 {
	font-size: 16px;
	letter-spacing: 1px;
	font-family: Helvetica;
	color: #ffffff;
	font-weight: bold;
	padding-left: 275px;
}

.footer13 {
	font-size: 16px;
	letter-spacing: 1px;
	font-family: Helvetica;
	color: #ffffff;
	font-weight: bold;
	padding-left: 170px;
}

.footer2 {
	font-size: 11px;
	letter-spacing: 1px;
	font-family: Helvetica;
	color: #ffffff;
	font-weight: bold;
	padding-left: 250px;
}

.footer3 {
	font-size: 11px;
	letter-spacing: 1px;
	font-family: Helvetica;
	color: #ffffff;
	font-weight: bold;
	padding-left: 100px;
}

.footer4 {
	font-size: 11px;
	letter-spacing: 1px;
	font-family: Helvetica;
	color: #ffffff;
	font-weight: bold;
	word-spacing: 49px;
}

.footer5 {
	font-size: 11px;
	letter-spacing: 1px;
	font-family: Helvetica;
	color: #ffffff;
	font-weight: bold;
	padding-left: 193px;
}

.imgfoot {
	margin-top: -110px;
	margin-left: 640px;
}

@media (max-width: 768px) {
	.footer11 {
		font-size: 16px;
		padding-left: 1px;
	}

	.footer12 {
		font-size: 12px;
		padding-left: 155px;
	}

	.footer13 {
		font-size: 12px;
		padding-left: 120px;
	}

	.footer2 {
		font-size: 8px;
		padding-left: 75px;
	}

	.footer3 {
		font-size: 8px;
		padding-left: 25px;
	}

	.footer4 {
		font-size: 8px;
		word-spacing: 35px;
	}

	.footer5 {
		font-size: 8px;
		padding-left: 95px;
	}

	.imgfoot {
		margin-left: 590px;
	}
}